# Loading in the data

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/FPA_FOD_20170508.sqlite')

query_1 = """
        SELECT
            SOURCE_SYSTEM_TYPE, NWCG_REPORTING_AGENCY, FIRE_CODE, FIRE_NAME, FIRE_YEAR,
            datetime(DISCOVERY_DATE) AS DISCOVERY_DATE, DISCOVERY_DOY, DISCOVERY_TIME, STAT_CAUSE_CODE,
            STAT_CAUSE_DESCR, datetime(CONT_DATE) AS CONT_DATE, CONT_DOY, CONT_TIME, FIRE_SIZE, FIRE_SIZE_CLASS,
            LATITUDE, LONGITUDE, STATE, COUNTY, FIPS_CODE, FIPS_NAME
        FROM
            Fires
        """

df_1 = pd.read_sql_query(query_1, conn)

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 608, in run_forever
    self._run_once()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 1936, in _run_once
    handle._run()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/events.py", line 84, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/95/p0pcx9mx4f9d6vz9fsgtn38r0000gn/T/ipykernel_39507/2896504132.py", line 2, in <module>
    import pandas as pd
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/__init__.py", line 26, in <module>
    from pandas.compat import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/compat/__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/compat/pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 608, in run_forever
    self._run_once()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 1936, in _run_once
    handle._run()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/events.py", line 84, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/95/p0pcx9mx4f9d6vz9fsgtn38r0000gn/T/ipykernel_39507/2896504132.py", line 2, in <module>
    import pandas as pd
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/dtypes/dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 608, in run_forever
    self._run_once()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 1936, in _run_once
    handle._run()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/events.py", line 84, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/95/p0pcx9mx4f9d6vz9fsgtn38r0000gn/T/ipykernel_39507/2896504132.py", line 2, in <module>
    import pandas as pd
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/arrow/array.py", line 50, in <module>
    from pandas.core import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/ops/__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/ops/array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/computation/expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/computation/check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/numexpr/__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 608, in run_forever
    self._run_once()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/base_events.py", line 1936, in _run_once
    handle._run()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/asyncio/events.py", line 84, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/95/p0pcx9mx4f9d6vz9fsgtn38r0000gn/T/ipykernel_39507/2896504132.py", line 2, in <module>
    import pandas as pd
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/arrow/__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/arrow/array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py", line 60, in <module>
    from pandas.core import (
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/core/nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/pandas/compat/_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/grandpierrenimrod/anaconda3/lib/python3.11/site-packages/bottleneck/__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [2]:
df_1.head()

,SOURCE_SYSTEM_TYPE,NWCG_REPORTING_AGENCY,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,...,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,FED,FS,BJ8K,FOUNTAIN,2005,2005-02-02 00:00:00,33,1300,9.0,Miscellaneous,...,33.0,1730,0.10,A,40.036944,-121.005833,CA,63,063,Plumas
1,FED,FS,AAC0,PIGEON,2004,2004-05-12 00:00:00,133,0845,1.0,Lightning,...,133.0,1530,0.25,A,38.933056,-120.404444,CA,61,061,Placer
2,FED,FS,A32W,SLACK,2004,2004-05-31 00:00:00,152,1921,5.0,Debris Burning,...,152.0,2024,0.10,A,38.984167,-120.735556,CA,17,017,El Dorado
3,FED,FS,None,DEER,2004,2004-06-28 00:00:00,180,1600,1.0,Lightning,...,185.0,1400,0.10,A,38.559167,-119.913333,CA,3,003,Alpine
4,FED,FS,None,STEVENOT,2004,2004-06-28 00:00:00,180,1600,1.0,Lightning,...,185.0,1200,0.10,A,38.559167,-119.933056,CA,3,003,Alpine

Good news: the whole JSON file in this shape takes up around 400 MB (tried it out with saving it out but got rid of the code)

Problems identified:
* We have to merge date and time fields, and convert them to the sufficient format

# Exploratory data analysis

## How many observations have NULL values at FIRE_CODE?

In [8]:
query_2 = "SELECT COUNT(*) FROM Fires WHERE FIRE_CODE IS NULL;"

df_2 = pd.read_sql_query(query_2, conn)

df_2.head()

   COUNT(*)
0   1555636

In the majority of the observations, FIRE_CODE is null, meaning that it might not make sense to include it in our further work.

## How many observations have NULL values at the state variable?

In [9]:
query_3 = "SELECT COUNT(*) FROM Fires WHERE STATE IS NULL;"

df_3 = pd.read_sql_query(query_3, conn)

df_3.head()

   COUNT(*)
0         0

Wow, all observations contain a STATE value! Nice

## How many observations have NULL values at the county variable?

In [10]:
query_4 = "SELECT COUNT(*) FROM Fires WHERE COUNTY IS NULL;"

df_4 = pd.read_sql_query(query_4, conn)

df_4.head()

   COUNT(*)
0    678148

Roughly one third of the observations don't have COUNTY value. We should discuss it if it'd make sense to filter all these out or ditch the idea of working with data on county level.

## How many different causes are there (STAT_CAUSE_DESCR)?

In [11]:
query_5 = "SELECT STAT_CAUSE_DESCR, COUNT(*) FROM Fires GROUP BY STAT_CAUSE_DESCR;"

df_5 = pd.read_sql_query(query_5, conn)

df_5

     STAT_CAUSE_DESCR  COUNT(*)
0               Arson    281455
1            Campfire     76139
2            Children     61167
3      Debris Burning    429028
4       Equipment Use    147612
5           Fireworks     11500
6           Lightning    278468
7       Miscellaneous    323805
8   Missing/Undefined    166723
9           Powerline     14448
10           Railroad     33455
11            Smoking     52869
12          Structure      3796

## How many observations do we have in each state per year?

In [12]:
query_6 = "SELECT FIRE_YEAR, STATE, COUNT(*) FROM Fires GROUP BY FIRE_YEAR, STATE;"

df_6 = pd.read_sql_query(query_6, conn)

df_6

      FIRE_YEAR STATE  COUNT(*)
0          1992    AK       481
1          1992    AL        93
2          1992    AR       128
3          1992    AZ      3494
4          1992    CA     10833
...         ...   ...       ...
1209       2015    VT        87
1210       2015    WA      1741
1211       2015    WI       965
1212       2015    WV       685
1213       2015    WY       632

[1214 rows x 3 columns]

## What are the minimum and maximum values in this interval?

In [13]:
df_6.nsmallest(10, 'COUNT(*)')

     FIRE_YEAR STATE  COUNT(*)
46        1992    VT         1
59        1993    DE         1
90        1993    PR         1
97        1993    VT         1
121       1994    MA         1
142       1994    RI         1
321       1998    MA         1
341       1998    PR         1
410       2000    DE         1
458       2001    DC         1

In [14]:
df_6.nlargest(20, 'COUNT(*)')

      FIRE_YEAR STATE  COUNT(*)
1001       2011    TX     19453
849        2008    TX     18067
746        2006    TX     15022
900        2009    TX     14142
363        1999    GA     11138
4          1992    CA     10833
412        2000    GA     10549
758        2007    CA     10151
212        1996    GA      9872
1103       2013    TX      9735
461        2001    GA      9572
951        2010    TX      9351
208        1996    CA      9173
61         1993    GA      9111
712        2006    GA      8925
357        1999    CA      8910
1064       2013    CA      8723
764        2007    GA      8717
106        1994    CA      8654
963        2011    CA      8562

## Do we have observations where either the longitude or the latitude is not defined?

In [17]:
query_7 = "SELECT COUNT(*) FROM Fires WHERE LONGITUDE IS NULL;"

df_7 = pd.read_sql_query(query_7, conn)

df_7

   COUNT(*)
0         0

In [19]:
query_8 = "SELECT COUNT(*) FROM Fires WHERE LATITUDE IS NULL;"

df_8 = pd.read_sql_query(query_8, conn)

df_8

   COUNT(*)
0         0

In [7]:
query_9 = "SELECT LATITUDE FROM Fires ORDER BY LATITUDE LIMIT 1"

df_9 = pd.read_sql_query(query_9, conn)

df_9

    LATITUDE
0  17.939722

In [10]:
query_9 = "SELECT LATITUDE FROM Fires ORDER BY LATITUDE DESC LIMIT 1"

df_9 = pd.read_sql_query(query_9, conn)

df_9

   LATITUDE
0   70.3306

In [8]:
query_10 = "SELECT LONGITUDE FROM Fires ORDER BY LONGITUDE LIMIT 1"

df_10 = pd.read_sql_query(query_10, conn)

df_10

   LONGITUDE
0  -178.8026

## How many items do we have without a containment date value?

In [2]:
query_11 = "SELECT COUNT(*) FROM Fires WHERE CONT_DATE IS NULL"

df_11 = pd.read_sql_query(query_11, conn)

df_11

   COUNT(*)
0    891531

# Closing the connection to the database

In [3]:
conn.close()